In [1]:
import json
import pandas as pd
import numpy as np
import os
import csv

In [2]:
test_temporalspatial = json.load(open('./test_all_json/test_temporalspatial.json', encoding="utf-8"))
test_temporalspatial_pd = pd.DataFrame(test_temporalspatial)
test_temporalspatial_pd

          Postdate         Uid      Pid Longitude Geoaccuracy   Latitude
0       1456761600    8770@N36    50731                     0          0
1       1456912561   10082@N16    96454                     0          0
2       1457091227   10082@N16   172136                     0          0
3       1457077899   24607@N38   177707                     0          0
4       1457077818   24607@N38   177708                     0          0
...            ...         ...      ...       ...         ...        ...
180576  1465549430   49686@N77  1118324                     0          0
180577  1465542506   31147@N75  1118329                     0          0
180578  1465346127    5656@N26  1118336   4.88361          15  52.377734
180579  1465534658   28302@N36  1118349                     0          0
180580  1465465460  102192@N21  1118356                     0          0

[180581 rows x 6 columns]

In [3]:
## ensemble_three_methods
test_json = json.load(open('./KFold_catboost.json', encoding="utf-8"))
test_resuts = [sample['popularity_score'] for sample in test_json['result']]
# test_resuts

In [4]:
test_score = pd.DataFrame(test_resuts)
test_score.columns = ['popularity']
# test_score

In [5]:
test_score_tem = pd.concat([test_temporalspatial_pd, test_score], axis = 1)
test_score_tem

,Postdate,Uid,Pid,Longitude,Geoaccuracy,Latitude,popularity
0,1456761600,8770@N36,50731,,0,0,7.2903
1,1456912561,10082@N16,96454,,0,0,9.3525
2,1457091227,10082@N16,172136,,0,0,8.2359
3,1457077899,24607@N38,177707,,0,0,5.6014
4,1457077818,24607@N38,177708,,0,0,5.6014
...,...,...,...,...,...,...,...
180576,1465549430,49686@N77,1118324,,0,0,5.9039
180577,1465542506,31147@N75,1118329,,0,0,5.7764
180578,1465346127,5656@N26,1118336,4.88361,15,52.377734,5.6870
180579,1465534658,28302@N36,1118349,,0,0,6.4546
180580,1465465460,102192@N21,1118356,,0,0,5.2387

In [6]:
sorted_test = test_score_tem.sort_values(by="Postdate", ascending=True) 
sorted_test

,Postdate,Uid,Pid,Longitude,Geoaccuracy,Latitude,popularity
0,1456761600,8770@N36,50731,,0,0,7.2903
6571,1456761600,16103@N76,436086,146.12780,16,-36.451527,8.2451
6556,1456761600,55286@N25,435984,,0,0,7.5671
8492,1456761600,10407@N3,504764,4.28031,15,52.088920,7.5196
8512,1456761600,36990@N13,507155,13.45365,16,52.510405,5.3054
...,...,...,...,...,...,...,...
165057,1465574189,99854@N39,949895,,0,0,3.3248
164467,1465574198,35969@N39,948165,,0,0,8.1363
174726,1465574203,107616@N19,1101207,,0,0,2.6174
172292,1465574297,99850@N83,1092381,,0,0,5.2538
172365,1465574341,107217@N61,1092703,,0,0,3.4872

In [7]:
import datetime
sorted_test['datetime'] = sorted_test['Postdate'].apply(lambda x: str(datetime.datetime.fromtimestamp(int(x)).year) + str(datetime.datetime.fromtimestamp(int(x)).month)+str(datetime.datetime.fromtimestamp(int(x)).day))
# sorted_test['datetime']

In [8]:
sorted_test

,Postdate,Uid,Pid,Longitude,Geoaccuracy,Latitude,popularity,datetime
0,1456761600,8770@N36,50731,,0,0,7.2903,201631
6571,1456761600,16103@N76,436086,146.12780,16,-36.451527,8.2451,201631
6556,1456761600,55286@N25,435984,,0,0,7.5671,201631
8492,1456761600,10407@N3,504764,4.28031,15,52.088920,7.5196,201631
8512,1456761600,36990@N13,507155,13.45365,16,52.510405,5.3054,201631
...,...,...,...,...,...,...,...,...
165057,1465574189,99854@N39,949895,,0,0,3.3248,2016610
164467,1465574198,35969@N39,948165,,0,0,8.1363,2016610
174726,1465574203,107616@N19,1101207,,0,0,2.6174,2016610
172292,1465574297,99850@N83,1092381,,0,0,5.2538,2016610
172365,1465574341,107217@N61,1092703,,0,0,3.4872,2016610

In [9]:
reindexed_sorted_test = sorted_test.reset_index()
reindexed_sorted_test

,index,Postdate,Uid,Pid,Longitude,Geoaccuracy,Latitude,popularity,datetime
0,0,1456761600,8770@N36,50731,,0,0,7.2903,201631
1,6571,1456761600,16103@N76,436086,146.12780,16,-36.451527,8.2451,201631
2,6556,1456761600,55286@N25,435984,,0,0,7.5671,201631
3,8492,1456761600,10407@N3,504764,4.28031,15,52.088920,7.5196,201631
4,8512,1456761600,36990@N13,507155,13.45365,16,52.510405,5.3054,201631
...,...,...,...,...,...,...,...,...,...
180576,165057,1465574189,99854@N39,949895,,0,0,3.3248,2016610
180577,164467,1465574198,35969@N39,948165,,0,0,8.1363,2016610
180578,174726,1465574203,107616@N19,1101207,,0,0,2.6174,2016610
180579,172292,1465574297,99850@N83,1092381,,0,0,5.2538,2016610
180580,172365,1465574341,107217@N61,1092703,,0,0,3.4872,2016610

In [11]:
## 计算每一天预测结果的值
from tqdm import trange
all_mean_norm = []
num = 0
# popu = 8.8814
popu = 0
for index in trange(180580):
  
    if reindexed_sorted_test['datetime'][index] == reindexed_sorted_test['datetime'][index + 1]:
        if index == 180579:
            popu = popu + reindexed_sorted_test['popularity'][index] + reindexed_sorted_test['popularity'][index + 1]
            num = num + 2
            mean_popu = popu / num
            all_mean_norm.append(mean_popu)
            
        else:
            popu = popu + reindexed_sorted_test['popularity'][index]
            num = num + 1
    else:
        popu = popu + reindexed_sorted_test['popularity'][index]
        num = num + 1
        mean_popu = popu / num
        all_mean_norm.append(mean_popu)
        popu = 0
        num = 0
        
all_mean_norm

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 180580/180580 [00:02<00:00, 60349.53it/s]

[5.555362649700596,
 5.563393196202531,
 5.430592827298052,
 5.704937776193871,
 5.230127524484972,
 5.344399022390429,
 5.462607655194589,
 5.448752822085886,
 5.115870184824901,
 5.348718117048338,
 5.191652330591464,
 4.980576758045285,
 5.193336345776046,
 5.198733456334543,
 5.500799720044784,
 4.810901668937329,
 5.175210411861618,
 4.894214856466417,
 4.948497072822463,
 4.785473634735897,
 4.697789709762552,
 4.554304701779708,
 4.615311864843927,
 4.558091143567428,
 4.7161161988304,
 4.937702486452027,
 4.969500354452811,
 5.371781637538892,
 4.6513330286101215,
 4.880851179162254,
 4.875960864309464,
 4.940530212765949,
 4.874308555426809,
 4.592113236034217,
 4.438902391414578,
 4.519099815377941,
 4.561225096565382,
 4.535527429906559,
 4.36258143120718,
 4.475186511383068]

In [12]:
print('mean_both_datasets:', np.mean(reindexed_sorted_test['popularity']))
print('std_both_datasets:', np.std(reindexed_sorted_test['popularity']))

mean_both_datasets: 4.804663873275704
std_both_datasets: 1.5128769475918613